<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
	<div class="wrapper">
		<div class="payment-description">
		<p id = 'purpose'></p>
		<p id = 'summ'></p>

	</div>

		<div class="card-input">
		<label>Номер карты: </label>
		<input type="text"id = 'card_number'>
		</div>
		<button id = 'send-payment'>Совершить платеж</button>
	
	</div>
	<script src = "/public/js/getPaymentData.js"></script>
	<script src = "/public/js/sendPaymentData.js"></script>
</body>
</html>